body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #E5E5E5;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}
